# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Logs & temporary files
npm-debug.log*
yarn-debug.log*
.tsbuildinfo
tsconfig.tsbuildinfo
*.log

# OS metadata
.DS_Store
Thumbs.db

# Scratch test files
scratch/
test_*.ts
